[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
ipykernel = "*"
boto3 = "*"
pandas = "*"
numpy = "*"
jinja2 = "*"
praw = "*"
python-dotenv = "*"
textblob = "*"
nltk = "*"
scikit-learn = "*"
joblib = "*"
openai = "*"
networkx = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
